@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:100");
h1 {
  font-size: 2em;
  line-height: 1.4em;
  text-align: center;
  padding: 0.5em;
}
section {
  zoom: 1;
  position: relative;
  height: auto;
  
}
.tab-menu {
  zoom: 1;
  position: relative;
  margin:10px;
}
.tab-menu:after,
.tab-menu:before {
  content: "";
  display: table;
}
.tab-menu:after {
  clear: both;
}
.tab-menu h4 {
  background: rgba(0,0,0,0.1);
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.2);
  border-top: none;
  padding: 5px 10px;
}
.tab-menu h4:first-child {
  border-top: 1px solid rgba(0,0,0,0.2);
}
@media screen and (min-width: 600px) {
  .tab-menu h4 {
    position: relative;
    width: 33.333333333333336%;
    height: 20%;
    display: block;
  }
}
.tab-menu .list {
  zoom: 1;
  position: relative;
  height: auto;
  min-height: 100%;
  border-left: none;
  display: none;
}
.tab-menu .list:after,
.tab-menu .list:before {
  content: "";
  display: table;
}
.tab-menu .list:after {
  clear: both;
}
.tab-menu .list li {
  list-style: circle;
}
@media screen and (min-width: 600px) {
  .tab-menu .list {
    position: absolute;
    width: 66.66666666666667%;
    right: 0;
    top: 0;
    padding: 15px 30px;
  }
}
.tab-menu .active {
  cursor: default;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0,0,0,0.2);
  border-right: none;
}
@media screen and (min-width: 600px) {
  .tab-menu .active {
    background: rgba(0,0,0,0);
    border-right: 1px solid rgba(0,0,0,0);
  }
}
.tab-menu .active + ul {
  display: block;
}